*{
    background-color: #7886ab;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    font-size: 28px;
    font-weight: bold;
    justify-content: space-around;

    .menu{
        margin: 5px 30px 5px 5px;
    }

    .menu:first-child{
        margin-left: 20px;
    }
}

.playerWrapper{
    display: flex;

    .playerTable{
        display: flex;
        font-size: 24px;
        flex-direction: column;

        .playerDiv{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;

            .playerName{
                width: 75px;
            }

            .dot{
                width: 35px;
            }

            .greenDot{
                background-color: yellowgreen;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 10px;
                animation: blink 2s infinite;
            }

            .lastScore{
                margin-left: 75px;
                width: 60px;
            }

            .score{
                font-size: 28px;
                font-weight: bold;
                margin-left: 65px;
            }
        }
    }
}

.display{
    display: flex;
    margin: 10px;
    background-color: #fff;
    height: 60px;
    border-radius: 10px;
    align-items: center;
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        margin: 5px 10px;
        width: 110px;
        height: 90px;
        font-size: 30px;
        border-radius: 15px;
        z-index: 1;
        cursor: pointer;
    }
}

.twoButtons{
    button{
        width: 220px;
    }
}



@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }